<h1 align="center" style="color:aliceblue"><b>FEATURED GAMES</b></h1>
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div class="card">
                        <img height="400px"src="https://image.api.playstation.com/vulcan/img/rnd/202010/2119/96IsNh1lt85M1XhOIGGLx4LM.png" class="card-img-top" alt="...">
                        <div style="background-color:black" class="card-body">
                          <h5 style="color:aliceblue" class="card-title"><b>DETROIT BECOME HUMAN</b></h5>
                          <h6 style="color:blue"><b>Rs. 675</b></h6>
                          <br><br>
                          <a href="#" class="btn btn-light"><b>BUY GAME</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:black" class="card">
                        <img height="400px"src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7d09ec8c-cc7e-4886-86b8-0bb8b6f623cf/deh2gsr-6424c11d-8ceb-412e-9223-cd38c43577c4.png/v1/fill/w_1280,h_1897,q_80,strp/the_last_of_us_2_fan_made_poster_by_bodie96_deh2gsr-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTg5NyIsInBhdGgiOiJcL2ZcLzdkMDllYzhjLWNjN2UtNDg4Ni04NmI4LTBiYjhiNmY2MjNjZlwvZGVoMmdzci02NDI0YzExZC04Y2ViLTQxMmUtOTIyMy1jZDM4YzQzNTc3YzQucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.03bB1NkvXUiMF2osh-fSM89v3_kP3aPygXAkGzp8a54" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:aliceblue"class="card-title"><b>THE LAST OF US 2</b></h5>
                          <h6 style="color:blue"><b>Rs. 790</b></h6>
                          <br><br>
                          <a href="#" class="btn btn-light"><b>BUY GAME</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:black" class="card">
                        <img height="400px"src="https://image.api.playstation.com/vulcan/ap/rnd/202106/2216/uFqCClqXSIsEFIo3ktJdZm7H.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:aliceblue"class="card-title"><b>A PLAGUE TALE INNOCENCE</b></h5>
                          <h6 style="color:blue"><b>Rs. 599</b></h6>
                          <br><br>
                          <a href="#" class="btn btn-light"><b>BUY GAME</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:black" class="card">
                        <img height="400px"src="https://images.ctfassets.net/wn7ipiv9ue5v/4yb8h87qRjvnQRno2GHAeE/522e872bc1d5fcf56e84bdce0821c610/BULLY_SE_FOB_1212x1497_LOGO_V01.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:aliceblue"class="card-title"><b>BULLY SCHOLARSHIP EDITION</b></h5>
                          <h6 style="color:blue"><b>Rs. 299</b></h6>
                          <br><br>
                          <a href="#" class="btn btn-light"><b>BUY GAME</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:black" class="card">
                        <img height="400px"src="https://m.media-amazon.com/images/M/MV5BZjMwNmVjZGMtNjQ1Ni00ZjdjLWI1OTQtYzcwNzAyMjBiODAwXkEyXkFqcGdeQXVyMzY0MTE3NzU@._V1_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:aliceblue"class="card-title"><b>WATCH DOGS LEGION </b></h5>
                          <h6 style="color:blue"><b>Rs. 275</b></h6>
                          <br><br>
                          <a href="#" class="btn btn-light"><b>BUY GAME</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:black" class="card">
                        <img height="400px"src="https://i.pinimg.com/originals/d7/ac/7f/d7ac7f85858a20bab022e6cb5b599d99.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:aliceblue"class="card-title"><b>FAR CRY 5 </b></h5>
                          <h6 style="color:blue"><b>Rs. 750</b></h6>
                          <br><br>
                          <a href="#" class="btn btn-light"><b>BUY GAME</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:black" class="card">
                        <img height="400px"src="https://cdn2.steamgriddb.com/file/sgdb-cdn/grid/d35e0935c836b356c4b7c405367f3439.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:aliceblue"class="card-title"><b>HALF-LIFE ALYX</b></h5>
                          <h6 style="color:blue"><b>Rs. 499</b></h6>
                          <br><br>
                          <a href="#" class="btn btn-light"><b>BUY GAME</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:black" class="card">
                        <img height="400px"src="https://i0.wp.com/moviesgamesandtech.com/wp-content/uploads/2013/06/AC_Vis6.jpg?ssl=1" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:aliceblue" class="card-title"><b>ASSASSIN'S CREED IV</b></h5>
                          <h6 style="color:blue"><b>Rs. 399</b></h6>
                          <br><br>
                          <a href="#" class="btn btn-light"><b>BUY GAME</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div  style="background-color:black"class="card">
                        <img height="400px"src="https://m.media-amazon.com/images/M/MV5BNzc4MjI0NDgtMWM2ZC00NmMxLThmYjMtYmM3M2ZlYzhlNzVmXkEyXkFqcGdeQXVyMjYwNDA2MDE@._V1_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 style="color:aliceblue" class="card-title"><b>LIFE IS STRANGE</b></h5>
                          <h6 style="color:blue"><b>Rs. 320</b></h6>
                          <br><br>
                          <a href="#" class="btn btn-light"><b>BUY GAME</b></a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-3 col-lg-3 col-xl-4 col-xxl-4">
                    <div style="background-color:black" class="card">
                        <img height="400px"src="https://m.media-amazon.com/images/I/81+ibYQ-VTL._AC_SL1500_.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5  style="color:aliceblue"class="card-title"><b>CALL OF DUTY: MODERN WARFARE</b></h5>
                          <h6 style="color:blue"><b>Rs. 550</b></h6>
                          <br><br>
                          <a href="#" class="btn btn-light"><b>BUY GAME</b></a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
